$primary-color: #111111;
$primary-bg-color: #ffffff;
$secondary-color: #737373;
$hover-button-bg-color: #cacacb;
$secondary-bg-color: #f5f5f5;
$border-color: #ebebeb;
$container-padding: 24px;
$container-size: calc(1320px + $container-padding * 2);
